@import "../../styles/abstracts/variable.module.scss";

.card {
  // display: flex;
  // justify-content: flex-start;
  // flex-wrap: wrap;
  // gap: 5%;

  &__container {
    // flex: 50%;
    width: 30%;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(220, 219, 222, 0.31);
    border-radius: 8px;
    min-height: 35rem;
    margin-bottom: 4rem;
  }
  &__image {
    width: 100%;
    height: 30rem;
    overflow: hidden;

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &__image img {
    max-width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__content {
    padding: 1rem;
  }

  &__amount {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  &__poly {
    display: flex;
    justify-content: space-between;
  }

  &__totalPrice {
    color: $color-grey;
  }

  &__curPrice {
    color: $color-primary;
  }

  &__heading {
    color: $color-black;
    font-size: 2rem;
    height: fit-content;
  }

  &__desc {
  }

  &__para {
    font-size: 1.2rem;
    color: $color-grey;
    margin-bottom: 1rem;
  }

  &__btn {
    margin: 1.5rem 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .card {
    &__container {
      width: 45%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .card {
    &__container {
      width: 100%;
    }
  }
}
