@import "../../styles/abstracts/variable.module.scss";

.container {
  padding: 4rem;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-primary;
  border-top: 0.5px solid rgba(24, 160, 251, 0.1);
}

.main {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 2rem;
  color: $color-white;
}

.nav {
  color: $color-white;
  display: flex;

  &__para {
    margin-left: 1.5rem;
    color: $color-white;
  }
}
